{% extends 'admin/layout.html' %} {% block title %}Add Blog Post | Admin Panel{%
endblock %} {% block content %}
<div class="section-title-wrapper">
  <h2 class="h2 section-title">Add New Blog Post</h2>
  <a href="{{ url_for('admin_blog') }}" class="btn">
    <span class="material-symbols-rounded icon">arrow_back</span>
    <span>Back to Blog</span>
  </a>
</div>

<div class="card form-card">
  <form method="POST" action="{{ url_for('admin_add_blog') }}">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required />
    </div>
    <div class="form-group">
      <label for="image">Image Path</label>
      <input
        type="text"
        id="image"
        name="image"
        placeholder="Add link or GitHub Image URL Link"
      />
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea id="content" name="content" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-submit">Add Post</button>
  </form>
</div>
{% endblock %}
