{% extends 'admin/layout.html' %} {% block title %}Manage Features | Admin
Panel{% endblock %} {% block content %}
<div class="section-title-wrapper">
  <h2 class="h2 section-title">
  Manage Features
  <a href="https://ionic.io/ionicons" target="_blank" style="font-size: 14px; margin-left: 10px;">
    (View Ionicons)
  </a>
</h2>

  <a href="{{ url_for('admin_add_feature') }}" class="btn btn-primary">
    <span class="material-symbols-rounded icon">add</span>
    <span>Add New Feature</span>
  </a>
</div>

<div class="table-container">
  <table class="content-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Icon</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for feature in features %}
      <tr>
        <td data-label="ID">{{ feature.id }}</td>
        <td data-label="Icon">{{ feature.icon }}</td>
        <td data-label="Title">{{ feature.title }}</td>
        <td data-label="Actions" class="table-actions">
          <a href="{{ url_for('admin_edit_feature', feature_id=feature.id) }}"
            >Edit</a
          >
          <a
            href="{{ url_for('admin_delete_feature', feature_id=feature.id) }}"
            class="delete"
            onclick="confirmDelete(event)"
            >Delete</a
          >
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="4">No features found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
